.block-after-header {
  @include contentPadding;
}
.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;

  &__top-description {
    font-family: $mainFont;
    line-height: 14px;
    color: $descriptionColor;
    @include centerContent;
  }

  &__main-header {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #635c73;
    text-align: $textCenter;
    text-transform: uppercase;
    padding: 80px 0 27px;
  }

  &__description {
    font-family: $additionalFont;
    line-height: 20px;
    color: #323232;
    @include centerContent;
    padding-bottom: 36px;
  }
}

.buttons-block {
  margin: 0 4px 20px;
  &__wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 0.5px solid silver;
    max-width: 110px;
  }
  &__btn-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
}

.btn-text {
  padding: 1px 4px;
  font-size: 12px;
}

.btn-value {
  font-size: 11px;
  font-weight: bold;
  padding: 3px 3px;
  font-family: $additionalFont;
}

.star-width {
  max-width: 100px;
}

.fork-width {
  max-width: 95px;
}

.btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
