.functional {
  @include contentPadding;
  &__main-header {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: $accentColor;
    text-align: center;
    padding: 100px 0 36px;

    &::before {
      content: "<";
    }

    &::after {
      content: ">";
    }
  }
  &__wrapper {
    @include flexible;
    padding: 0 14px 40px;
  }
  &__wrapper-icon {
    min-width: 112px;
    display: flex;
    justify-content: center;
  }
  &__wrapper-header {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
    padding: 27px 0 14px;
    text-align: center;
  }
  &__wrapper-description {
    font-family: $additionalFont;
    font-size: 14px;
    line-height: 21px;
    color: $descriptionColor;
    text-align: center;
  }
  &__example-img {
    background-image: url("../img/backgrounds/editor.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 381px;
  }
  &__example {
    display: none;
  }
}
