
.container{
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header {
  &__main {
    background: #27262A;
    min-width: $minWidth;
    min-height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}

.btn {
  &__top {
    width: 119px;
    height: 37px;
    background: $accentColor;
    border-radius: 40px;
    border: none;
    color: $textLight;
  }
}

.menu {
  &__right {
    width: 40px;
    height: 40px;
    background: #27262A;
    border: none;
    position: relative;
    display: flex;

    &::after {
      content: "";
      width: 15px;
      height: 3px;
      background: $textLight;
      border-radius: 5px;
      position: absolute;
    }

    &::after {
      content: "";
      width: 26px;
      height: 3px;
      background: $textLight;
      border-radius: 5px;
      position: absolute;
      box-shadow: 0 8px 0 0 $textLight;
    }
  }
}

.logo {
  &__link-text {
    display: none;
  }
}

.fork-app {
  position: relative;
  height: 615px;
  padding-top: 35px;
  background-size: cover;
  //background-color: #010005;
  background-image: url("../img/header/header-fon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &__title {
    margin-bottom: 15px;
    color: $textLight;
    font-size: 48px;
    font-family: $mainFont;
    text-align: center;
    font-weight: bold;
  }

  &__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: $accentColor;
    font-family: $mainFont;

    &--violet {
      color: $accentColor;
      font-size: 18px;
    }

    &--grey {
      color: #848e97;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__download-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 15px 10px;
    border: 1px solid $accentColor;
    border-radius: 25px;
    background-color: $accentColor;
    color: $textLight;
    font-size: 18px;
    font-family: $mainFont;
    text-decoration: none;
    text-align: center;
    transition: color, background-color .2s;
    outline: none;
  }
}