// .container {
//  margin: 0 auto;
//  &__menu{
//    width: 100%
//  }
// }

.header {
  &__main {
    background: #27262A;
    min-width: $minWidth;
    min-height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}
.container{
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}


.btn {
  &__top {
    width: 119px;
    height: 37px;
    background: $accentColor;
    border-radius: 40px;
    border: none;
    color: $textLight;
  }
}

.logo {
  &__link-text {
    display: none;
  }
}

.burger{
  width: 27px;
  height: 21px;
  margin-bottom: 6px;
  &-long{
    display: block;
    border: none;
    background-color: $textLight;
    color: $textLight;
    height: 4px;
    margin-top: 5px;
    border-radius: 5px;
  }
  &-sort{
    margin-left: 9px;
    border: none;
    background-color: #e6e4e4;;
    color: #e6e4e4;
    height: 4px;
    width: 18px;
    margin-top: 5px;
    border-radius: 5px;
  }
}

.container__menu{
  position: absolute;
  top: 118px;
  right: 0;
  z-index: 1;
}

.navbar {
display: flex;

&_list{
  width: 290px;
  height: 88px;
  left: 13px;
  top: 194px;
 } 
}

.header__main{
  position: relative;
  }


.menu{
  color: #e6e4e4;
  font-size: 34px;
  cursor: pointer;
  &__list{
    width: 100%;
    line-height: 108px;
    background-color: #303030;
    color: white;
    text-align: left;
    position: absolute;
    left: 0;
    top: 101px;
    padding-left: 33px;
    &-item{
      position: relative;
    }
  }

  &__list-item:hover{
    color: $accentColor;
  }
  &__list-item::before {
    content: '';
    height: 53px;
    border-left: 3px $accentColor solid;
    position: absolute;
    left: 0;
    opacity: 0;
  }
  &__list-item:hover::before  {
    opacity: 1;
    position: absolute;
    left: -33px;
    top: 25px;
  }
  &__list-item{
    font-size: 32px;
    background-color: #303030;
  }
}

.fas:hover .menu__list{
  display: block;
}


.fork-app {
  position: relative;
  height: 615px;
  padding-top: 35px;
  background-size: cover;
  //background-color: #010005;
  background-image: url("../img/header/header-fon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &__title {
    margin-bottom: 15px;
    color: $textLight;
    font-size: 48px;
    font-family: $mainFont;
    text-align: center;
    font-weight: bold;
  }

  &__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: $accentColor;
    font-family: $mainFont;

    &--violet {
      color: $accentColor;
      font-size: 18px;
    }

    &--grey {
      color: #848e97;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__download-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 15px 10px;
    border: 1px solid $accentColor;
    border-radius: 25px;
    background-color: $accentColor;
    color: $textLight;
    font-size: 18px;
    font-family: $mainFont;
    text-decoration: none;
    text-align: center;
    transition: color, background-color .2s;
    outline: none;
  }
}