@media (min-width: 768px) {
  .content-block {
    &__top-description {
      margin-top: 20px;
    }

    &__main-header {
      font-size: 42px;
      line-height: 42px;
    }

    &__description {
      font-size: 21px;
      line-height: 32px;
    }
  }

  .buttons-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .content-block {
    &__top-description {
      margin-top: 20px;
    }

    &__main-header {
      font-size: 54px;
      line-height: 54px;
    }

    &__description {
      font-size: 21px;
      line-height: 32px;
      padding: 0 150px;
      text-align: $textCenter;
    }
  }

  .buttons-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btns-wrapper {
    padding: 26px 0 70px;
  }
}
