@media(min-width: 768px) {
  .logo{
    &__link-text{
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      text-transform: uppercase;
      color: #8D81AC;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__main {
      min-height: 118px;
      padding: 0 20px;
    }
  }
}

@media (min-width: 768px) {
  .btn {
    &__top {
      width: 145px;
    }
  }
}

@media screen and (min-width: 481px) {
  .container{
    padding-left: 27px;
    padding-right: 27px;
  }
  .logo{
    &__text{
      display: inline-block;
    }
  }
  .menu{
    display: none;
  }
  .container__menu{
    background-color: #333333;
    .navbar__list{
      color: white;
      &-item{
        margin-left: 30px;
      }
    }
  }
  .btn{
    position: static;
  }
}

@media screen and (min-width: 993px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn {
    position: relative;
  }
  .menu {
    display: none;
  }
}


@media screen and (min-width: 1201px) {
  .container {
    max-width: 1300px;
  }
}
