@mixin contentPadding {
  padding: 0 24px;
}

@mixin centerContent {
  font-size: 14px;
  text-align: $textCenter;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
