$accentColor: #8D81AC;
$textLight: #FFFFFF;
$mainFont: "Montserrat", sans-serif;
$additionalFont: "Lato", sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;

$minWidth:320px;
$maxWidth:1200px;
