$accentColor: #8d81ac;
$textLight: #ffffff;
$mainFont: "Montserrat", sans-serif;
$additionalFont: "Lato", sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;

$minWidth: 320px;
$maxWidth: 1200px;

$descriptionColor: #848e97;
