
@import "_fonts";
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins";

@import "sections/_header-block";
@import "sections/_block-after-header";
@import "sections/_functional";
@import "sections/_people-talking";
@import "sections/_pricing";

@import "sections/media/_media";


.body {
  overflow-x: hidden;
}

.container{
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}


